.chartsPageHolder {
  padding-top: 12px;
  padding-bottom: 16px;
}

.popularityChartsHolder {
  display: flex;
  justify-content: space-evenly;
}

.bestSellingBooksChart {
  max-width: 60%;
  max-height: 50rem;
}

.bestSellingGenresChart {
  max-width: 35%;
  max-height: 40rem;
}

.profitChartsHolder {
  display: flex;
  justify-content: space-evenly;
}

.booksByPriceChart {
  max-width: 35%;
  max-height: 40rem;
}

.mostProfitableBooksChart {
  max-width: 60%;
  max-height: 50rem;
}
